<form action="/invite/approved?token={{token}}&email={{email}}" method="POST">
            <input type="name" name="name" placeholder="enter name here"/>
            <input type="password" name="password" placeholder="Add your password" />
            <input type="submit" value="Submit" />
        </form>